In [1]:
#import library
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(url)

In [2]:
#check how many table there is
len(df_list)

3

In [3]:
#visually check which cell contain the desired table, and found the first one is the desired table
df_list[0]

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [4]:
#assign the desired dataframe to neighborhooddf variable
neighborhooddf = df_list[0]

In [5]:
#set index column to be Postal Code
neighborhooddf.set_index('Postal Code')

,Borough,Neighbourhood
Postal Code,,
M1A,Not assigned,Not assigned
M2A,Not assigned,Not assigned
M3A,North York,Parkwoods
M4A,North York,Victoria Village
M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...
M5Z,Not assigned,Not assigned
M6Z,Not assigned,Not assigned
M7Z,Not assigned,Not assigned
M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
M9Z,Not assigned,Not assigned

In [6]:
#drop row that doesn't has assigned borough
neighborhooddf = neighborhooddf[neighborhooddf.Borough != 'Not assigned']

In [8]:
#if neighborhood is unassigned, make it to be same as borough
#check if any exist
neighborhooddf[neighborhooddf.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [9]:
#it doesn't look like any neighbourhood that is not assigned

In [10]:
neighborhoodbypostaldf = neighborhooddf.groupby(['Postal Code']).agg({'Borough' : 'first', 'Neighbourhood':','.join}).reset_index().reindex(columns=neighborhooddf.columns)

In [11]:
neighborhoodbypostaldf

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [13]:
#Display number of row
neighborhoodbypostaldf.shape

(103, 3)

In [14]:
#download the csv file
CSV_URL = 'https://cocl.us/Geospatial_data'
df = pd.read_csv(CSV_URL)
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
#set the index of both table before merging
neighborhoodbypostaldf.set_index(neighborhoodbypostaldf.columns[0])
df.set_index(df.columns[0])

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476
...                ...        ...
M9N          43.706876 -79.518188
M9P          43.696319 -79.532242
M9R          43.688905 -79.554724
M9V          43.739416 -79.588437
M9W          43.706748 -79.594054

[103 rows x 2 columns]

In [19]:
mergeddf = pd.merge(neighborhoodbypostaldf, df, left_index=True, right_index=True)

In [20]:
mergeddf

,Postal Code_x,Borough,Neighbourhood,Postal Code_y,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476
...,...,...,...,...,...,...
98,M9N,York,Weston,M9N,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,M9P,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",M9R,43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",M9V,43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",M9W,43.706748,-79.594054

In [23]:
#drop duplicate postal code
mergeddf.drop(columns=['Postal Code_y'], inplace=True)

In [29]:
#Rename Postal Code_x to Postal Code
mergeddf.rename(columns={'Postal Code_x':'Postal Code'}, inplace=True)

In [30]:
mergeddf

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054